* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
}

body {
    background-color: #581845;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img {
    width: 40%;
    margin: 10px;
    cursor: pointer;
}

.container {
    background-color: #282625;
    padding: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

h1 {
    padding: 10px;
    font-family: 'Nosifer', sans-serif;
}

button {
    margin: 20px;
    background-color: #ff5530;
    padding: 10px;
    border-radius: 3px;
    border-style: none;
    width: 50%;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.trick {
    font-family: "Eater", serif;
    font-size: 16px;
}

.treat {
    font-family: 'Emilys Candy', serif;
    font-size: 16px;
}

p {
    font-family: 'Nosifer', sans-serif;
    letter-spacing: 0.2em;
}